table {
    border-collapse: collapse;
    margin: auto;
    vertical-align: middle;
    background-color: bisque;
  }
 th,td {
    padding: 32px;
    border:1px solid black;
   }
.cell-highlight{
    color: blue;
    font-weight:bold;
}
caption {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: darkseagreen;
  }
  
tbody th {
    width: 40%;}
    th {font-weight: 800;
        font-size: large;
        color: blueviolet;
    }
    footer { 
     position: fixed; 
    left: 10px; 
     bottom: 5px; 
     right: 10px;  
    width: 100%; 
     background-color: greenyellow;
     color: rgb(15, 88, 29); 
     text-align: center; 
    } 
